:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  form {
    width: 300px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    align-items: center;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 94%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .container {
    text-align: center;
  }

  button {
    margin-top: 15px;
    align-self: center;
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    border: 0;
  }
  button:hover {
    background-color: #3f51b5;
    color: #ffffff;
    transform: translateY(-1px);
  }