:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  form {
    width: 300px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    align-items: center;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 94%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .container {
    text-align: center;
  }

  button {
    margin-top: 15px;
    align-self: center;
  }