  :host {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  ul {
    width: 300px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    align-items: center;
  }
  
  .product-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .product-item {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .product-name {
    font-weight: bold;
  }

 
  
 
  
  
  
  
  